<div class="game-container">
    <ul *ngIf="sudokuBoard.length > 0; else noSudoku">
        <li *ngFor="let row of sudokuBoard; index as m">
            <mat-grid-list class="sudoku-row" cols="9">
                <mat-grid-tile tabindex="0" (click)="selectCell(m,n)" class="fontS"
                    *ngFor="let cell of row; index as n">
                    {{cell}}
                </mat-grid-tile>
            </mat-grid-list>
        </li>
    </ul>
    <div class="footer">
        <div class="button-row fontS">
            <button class="digitsBtn" (click)="selectValue(i)" *ngFor="let i of [1,2,3,4,5,6,7,8,9]">{{i}}</button>
            <button class="clearBtn" (click)="clearBoard()">Clear</button>
            <button class="refreshBtn" (click)="refreshBoard()"><mat-icon fontIcon="refresh"></mat-icon></button>
        </div>
    </div>
    <div class="time">{{taken}}</div>
    <ng-template #noSudoku>
        <div class="no-board">No game to load</div>
    </ng-template>
</div>