.game-container{
  position:relative;
  align-self:center;
  align-text:center;
  width:70%
}

ul {
    list-style: none;
}

mat-grid-tile {
    background: lightblue; 
    border: 1px solid white;
    border-radius:8px;
  }

  li:nth-child(3), li:nth-child(6){
    margin-bottom:3px
  }

  mat-grid-list mat-grid-tile:nth-child(4), mat-grid-list mat-grid-tile:nth-child(7){
    margin-left:3px;
  }

  mat-grid-list mat-grid-tile:nth-child(5), mat-grid-list mat-grid-tile:nth-child(8){
    margin-left:1px
  }

  .no-board{
    position:relative;
    align-text:center
  }

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius:5px;
  margin-left:40px;
}

.button-row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width:700px;
}

.button-row button{
  min-width: 40px;
  height:40px;
  border:none;
  border-radius:5px;
  font-family: Roboto;
  color:white;
}

.digitsBtn{
  background-color:black;
  font-size:18px;
  font-weight:900
}

.clearBtn{
  font-size:16px;
  background-color:black;
  padding-right:10px;
  padding-left:10px;
}

.refreshBtn{
  background-color: #4335A7;
} 

button.digitsBtn:active{
  background-color:#FA4032;
}

.mat-grid-tile:focus{
  background-color: #4335A7;
  color: white;
}

mat-icon{
  color:white;
}
