/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face{
    font-family:'octopus-game-font';
    src: url('assets/fonts/OctopusGame-RpWV3.ttf')
}

.fontS{
    font-size:18px;
}

@media only screen and (min-width: 800) and (max-width: 1200) {
    .fontS {
        font-size:16px;
    }
  }
@media only screen and (max-width: 800px) {
    .fontS {
        font-size:14px;
        color:red
    }
}

